header{
    background-color: brown;
    text-align: center;
    color: white;
    height: 50px;
}
.slider{
    background-color: violet;
    text-align: center;
    color: white;
    height: 300px;
}
.content{
    overflow: hidden;
}
.left{
    width: 50%;
    height: 300px;
    background-color: turquoise;
    float: left;

}
.up{
    height: 50%;
    width: 100%;
    background-color: seagreen;
    font-size: 35px;
    color: white;
    text-align: center;

}
.down{
    height: 50%;
    width: 100%;
    background-color: springgreen;
    font-size: 35px;
    color: white;
    text-align: center;


}
.right{
    width: 50%;
    height: 300px;
    background-color:rebeccapurple;
    float: right;
    color: white;
    text-align: center;
}
footer{
    background-color: yellowgreen;
    text-align: center;
    color: white;
    height: 60px;
}

   

